<div ng-controller="demoController">
    <h1>Demo Template</h1>

    <div>
        <form ng-submit="add(person)">
            <label>Prénom :</label>
            <input type="text" ng-model="person.firstname">
            <label>Nom :</label>
            <input type="text" ng-model="person.lastname">
            <br />
            <div ng-if="person.firstname || person.lastname">
                <strong>Voulez-vous ajouter {{ person.firstname }} {{ person.lastname }} ?</strong>
                <button type="submit">Ajouter</button>
            </div>
        </form>
    </div>
    <br />
    <div>
        <label>Afficher les personnes ?</label>
        <input type="checkbox" ng-model="showPeople">
        <ul ng-show="showPeople">
            <li ng-repeat="person in people">
                {{ person.firstname }} {{ person.lastname }}
            </li>
        </ul>
        <p ng-hide="showPeople">Il n'y a personne de visible.</p>
    </div>
</div>